h1 {

    color:seagreen;
}

.acordeon-articulos button span{

    display: flex;
    justify-content:space-between;
    scroll-margin:revert;
    width:100%;
}

.acordeon-articulos ul li{
    display:flex;
    justify-content:space-between;
    print-color-adjust:exact
}

