@model LoguinViewModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>Tabla centrada</title>
    <style>
        table {
            
            margin: auto;
            width:auto%;
            border-collapse:collapse
        }

        td {
            text-align: justify-all;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>Ingresa tus credenciales</h1>
            </td>

        </tr>
        <tr>
            <td>

                <form asp-action="Login">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>




                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="pasword" class="form-label"></label>
                        <input asp-for="pasword" class="form-control" />
                        <span asp-validation-for="pasword" class="text-danger"></span>
                    </div>

                    <div class="form-check">

                        <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                        <label class="form-label" asp-for="Recuerdame"></label>

                    </div>


                    <button class="btn-primary btn">Login</button>

                </form>
                <div class="container mx-auto text-center my-5">
                    <img src="~/Images/MyPassword.png" class="img-fluid" >

                </div>
            </td>
        </tr>
    </table>
</body>
</html>


